@import "tailwindcss";
@plugin "daisyui";
  
@plugin "daisyui/theme" {
  name: "brand";
  prefersdark: false;
  default: false;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.077 45.635);
  --color-base-200: oklch(41% 0.112 45.904);
  --color-base-300: oklch(47% 0.137 46.201);
  --color-base-content: oklch(96% 0.059 95.617);
  --color-primary: oklch(44% 0.03 256.802);
  --color-primary-content: oklch(98% 0.002 247.839);
  --color-secondary: oklch(43% 0 0);
  --color-secondary-content: oklch(98% 0 0);
  --color-accent: oklch(54% 0.245 262.881);
  --color-accent-content: oklch(97% 0.014 254.604);
  --color-neutral: oklch(47% 0.137 46.201);
  --color-neutral-content: oklch(98% 0.022 95.277);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

:root {
  --color-brand: 124 44 191;
  --color-brand-subtle: 244 231 255;
  --color-outline: 229 229 229;
  --color-ash: 246 246 245;
  --color-ash-strong: 240 240 240;
  --color-canvas: 255 255 255;
}

.dark {
  --color-brand: 203 171 229;
  --color-brand-subtle: 62 22 96;
  --color-outline: 51 51 51;
  --color-ash: 26 26 26;
  --color-ash-strong: 44 44 42;
  --color-canvas: 0 0 0;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.widget-highlighter {
  display: none;
}

@media (min-width: 768px) {
  .widget-highlighter {
    display: flex;
  }
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox (all scrollbars) */
* {
  scrollbar-width: thin;          /* auto | thin | none */
  scrollbar-color: #666 #111;     /* thumb | track */
}

/* Chrome, Edge, Safari (WebKit/Blink) */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px; /* for horizontal scrollbars */
}

*::-webkit-scrollbar-track {
  background: #111;  /* track */
}

*::-webkit-scrollbar-thumb {
  background-color: #666; /* thumb */
  border-radius: 6px;
  border: 2px solid #111; /* space around thumb */
}

@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: #666 #111;  /* Firefox */
  }
  *::-webkit-scrollbar-track {
    background: #111;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #666;
  }
}

@media (prefers-color-scheme: light) {
  * {
    scrollbar-color: #aaa #f1f1f1;
  }
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #888;
  }
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Air.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-AirItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-ThinItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik-";
  src: url("/fonts/Aeonik-/Aeonik-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-Ultralight.woff2")
      format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Ultralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-UltralightItalic.woff2")
      format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-UltralightItalic.woff")
      format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-Light.woff2") format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-LightItalic.woff2")
      format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-Regular.woff2") format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-RegularItalic.woff2")
      format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-Bold.woff2") format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-BoldItalic.woff2")
      format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-Black.woff2") format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Radio Grotesk";
  src: url("/fonts/Radio Grotesk/PPRadioGrotesk-BlackItalic.woff2")
      format("woff2"),
    url("/fonts/Radio Grotesk/PPRadioGrotesk-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}